<<<<<<< HEAD
* {
  box-sizing: border-box; }

html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  color: #fff;
  background: #000;
  font: 1rem/1.32 "exo2", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "exo2"; }

a {
  outline: none;
  text-decoration: none; }

.wrapper {
  position: relative;
  max-width: 1080px;
  min-width: 300px;
  margin: 0 auto; }

.header {
  background: #ff3939;
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 70% 100%, 30% 100%, 0 75%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 70% 100%, 30% 100%, 0 75%, 0 0); }

.nav__menu {
  padding: 0;
  margin: 0; }
  @media screen and (max-width: 768px) {
    .nav__menu {
      margin-top: 20px; } }

.header__block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0 30px 0; }
  @media screen and (max-width: 768px) {
    .header__block {
      display: block; } }

.header__logo {
  display: flex;
  justify-content: space-around;
  font-size: 1.6875rem; }
  @media screen and (max-width: 768px) {
    .header__logo {
      text-align: center; } }

@media screen and (max-width: 768px) {
  .header__menu {
    display: none;
    clear: both;
    width: 100%; } }

@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: transparent;
    width: 50px;
    height: 41px;
    padding: 0 8px;
    cursor: pointer;
    float: right; }

  .hamburger .hamburger__line {
    background: #000;
    width: 100%;
    height: 2.5px;
    transition: 0.5s; } }
.dn {
  display: none; }
  @media screen and (max-width: 768px) {
    .dn {
      display: inline-block;
      font-size: 2rem;
      list-style: none; } }

.logo__link {
  font-weight: bold;
  color: #000;
  transition: 0.5s; }
  .logo__link:hover {
    color: #fff; }

.menu__list {
  position: relative;
  display: inline-block;
  font-size: 0.875rem;
  text-transform: uppercase;
  list-style: none;
  padding: 0 10px; }
  @media screen and (max-width: 768px) {
    .menu__list {
      padding: 20px 0;
      text-align: center;
      display: block;
      margin: 0 30px; } }

.list__link {
  font-weight: bold;
  color: #000;
  transition: 0.5s; }
  .list__link:hover {
    color: #fff; }
  @media screen and (max-width: 768px) {
    .list__link {
      border-bottom: 2px solid #000;
      padding: 20px; } }

.port__lang {
  color: #000;
  font-weight: bold;
  display: none;
  position: absolute;
  top: -20px;
  left: 40px;
  padding: 20px;
  background: #fff; }

.display:hover .port__lang {
  display: inline-block; }

@media screen and (max-width: 768px) {
  .display {
    display: none; } }

@media screen and (max-width: 768px) {
  .bn {
    border-bottom: none; } }

.displaynone {
  display: none; }

.rotated2 {
  transform: rotate(45deg) translateY(14.5px); }

.rotated- {
  transform: rotate(-45deg) translateY(-14.5px); }

/*# sourceMappingURL=main.css.map */
=======
/*
Error: Undefined variable: "$color".
        on line 2 of sass/_header.sass
        from line 1 of sass/main.sass

1: @import 'header'

Backtrace:
sass/_header.sass:2
sass/main.sass:1
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/script/tree/variable.rb:49:in `_perform'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/script/tree/node.rb:50:in `perform'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:398:in `visit_prop'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/stack.rb:79:in `block in with_base'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/stack.rb:135:in `with_frame'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:440:in `map'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/stack.rb:79:in `block in with_base'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/stack.rb:135:in `with_frame'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:325:in `map'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/stack.rb:88:in `block in with_import'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/stack.rb:135:in `with_frame'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/stack.rb:88:in `with_import'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/stack.rb:79:in `block in with_base'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/stack.rb:135:in `with_frame'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:52:in `map'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/root_node.rb:36:in `css_tree'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:294:in `watch'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/plugin.rb:109:in `method_missing'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/exec/sass_scss.rb:358:in `watch_or_update'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/exec/base.rb:50:in `parse'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/lib/sass/exec/base.rb:18:in `parse!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.3/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:22:in `load'
/usr/local/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$color\".\A         on line 2 of sass/_header.sass\A         from line 1 of sass/main.sass\A \A 1: @import 'header'"; }
>>>>>>> 75476e18c9c411b93455303ee3e639e253de3253
