* {
  box-sizing: border-box; }

html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  color: #fff;
  background: #000;
  font: 1rem/1.32 "exo2", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "exo2"; }

a {
  outline: none;
  text-decoration: none; }

.wrapper {
  position: relative;
  max-width: 1080px;
  min-width: 300px;
  margin: 0 auto; }

.header {
  background: #ff3939;
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 70% 100%, 30% 100%, 0 75%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 70% 100%, 30% 100%, 0 75%, 0 0); }

.nav__menu {
  padding: 0;
  margin: 0; }
  @media screen and (max-width: 768px) {
    .nav__menu {
      margin-top: 20px; } }

.header__block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0 30px 0; }
  @media screen and (max-width: 768px) {
    .header__block {
      display: block; } }

.header__logo {
  display: flex;
  justify-content: space-around;
  font-size: 1.6875rem; }
  @media screen and (max-width: 768px) {
    .header__logo {
      text-align: center; } }

@media screen and (max-width: 768px) {
  .header__menu {
    display: none;
    clear: both;
    width: 100%; } }

@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: transparent;
    width: 50px;
    height: 41px;
    padding: 0 8px;
    cursor: pointer;
    float: right; }

  .hamburger .hamburger__line {
    background: #000;
    width: 100%;
    height: 2.5px;
    transition: 0.5s; } }
.dn {
  display: none; }
  @media screen and (max-width: 768px) {
    .dn {
      display: inline-block;
      font-size: 2rem;
      list-style: none; } }

.logo__link {
  font-weight: bold;
  color: #000;
  transition: 0.5s; }
  .logo__link:hover {
    color: #fff; }

.menu__list {
  position: relative;
  display: inline-block;
  font-size: 0.875rem;
  text-transform: uppercase;
  list-style: none;
  padding: 0 10px; }
  @media screen and (max-width: 768px) {
    .menu__list {
      padding: 20px 0;
      text-align: center;
      display: block;
      margin: 0 30px; } }

.list__link {
  font-weight: bold;
  color: #000;
  transition: 0.5s; }
  .list__link:hover {
    color: #fff; }
  @media screen and (max-width: 768px) {
    .list__link {
      border-bottom: 2px solid #000;
      padding: 20px; } }

.port__lang {
  color: #000;
  font-weight: bold;
  display: none;
  position: absolute;
  top: -20px;
  left: 40px;
  padding: 20px;
  background: #fff; }

.display:hover .port__lang {
  display: inline-block; }

@media screen and (max-width: 768px) {
  .display {
    display: none; } }

@media screen and (max-width: 768px) {
  .bn {
    border-bottom: none; } }

.displaynone {
  display: none; }

.rotated2 {
  transform: rotate(45deg) translateY(14.5px); }

.rotated- {
  transform: rotate(-45deg) translateY(-14.5px); }

/*# sourceMappingURL=main.css.map */
