* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s; }

html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  font-family: "Arial", sans-serif;
  font-size: 1em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Arial", sans-serif; }

a {
  outline: none;
  text-decoration: none;
  color: inherit; }

li {
  list-style: none; }

a:hover {
  cursor: pointer; }

div.container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto; }

h3.heading {
  font-weight: normal; }

header {
  min-height: 100vh; }
  header nav {
    padding: 1.5625rem 0;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 3.125rem; }
    header nav .menu {
      display: flex;
      align-items: center; }
      header nav .menu .toogle-btn {
        display: none; }
      @media screen and (max-width: 768px) {
        header nav .menu .toggle-btn {
          position: relative;
          z-index: 999;
          cursor: pointer;
          width: 2.5rem;
          display: flex;
          height: 2.1875rem;
          flex-direction: column;
          display: flex;
          justify-content: space-around; }
          header nav .menu .toggle-btn span {
            display: block;
            width: 100%;
            height: 2px;
            background-color: black; }
          header nav .menu .toggle-btn.active span {
            background-color: white; }
            header nav .menu .toggle-btn.active span:nth-child(1) {
              transform-origin: 0 100%;
              transform: rotate(45deg) translate(-2px, -3px); }
            header nav .menu .toggle-btn.active span:nth-child(2) {
              opacity: 0; }
            header nav .menu .toggle-btn.active span:nth-child(3) {
              transform-origin: 0% 100%;
              transform: rotate(-45deg) translate(0px, 3px); } }
      header nav .menu .menu-item:first-child {
        margin-right: auto; }
      header nav .menu .nav-items {
        display: flex; }
        header nav .menu .nav-items .nav-item {
          margin: 0 1.25rem; }
        header nav .menu .nav-items:last-child {
          margin-right: 0; }
        @media screen and (max-width: 768px) {
          header nav .menu .nav-items {
            display: none; }
            header nav .menu .nav-items.active {
              display: flex;
              position: absolute;
              flex-direction: column;
              background-color: rgba(0, 0, 0, 0.7);
              top: 0;
              right: 0;
              height: 100vh;
              color: white;
              padding: 0 2.5rem;
              justify-content: center;
              font-size: 1.2em;
              width: 40vw;
              z-index: 99;
              text-align: right; }
              header nav .menu .nav-items.active .nav-item {
                margin: 0.625rem 0;
                font-weight: bold; } }
  header div.blocks {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: space-around; }
    header div.blocks div.block-item {
      flex: 1 1 50%;
      text-align: center;
      padding: 5% 5%;
      cursor: pointer; }
      header div.blocks div.block-item:hover {
        box-shadow: 5px 5px 10px 10px rba(0, 0, 0, 0.2); }
        header div.blocks div.block-item:hover div.top img {
          transform: scale(1.1); }
      header div.blocks div.block-item:nth-child(1) {
        border-bottom: 1px solid #BEBEBE;
        border-right: 1px solid #BEBEBE; }
      header div.blocks div.block-item:nth-child(2) {
        border-bottom: 1px solid #BEBEBE; }
      header div.blocks div.block-item:nth-child(3) {
        border-right: 1px solid #BEBEBE; }
      @media screen and (max-width: 768px) {
        header div.blocks div.block-item {
          flex: 1 1 100%;
          border: none !important;
          margin: 2.5rem 0; } }
      header div.blocks div.block-item div.top {
        margin-bottom: 1.25rem; }
        header div.blocks div.block-item div.top img {
          width: 6.25rem;
          transform: scale(1); }

/*# sourceMappingURL=main.css.map */
