header.page-header 
	height: 100vh
	background: url('../files/imgs/header-bg.jpg') no-repeat 50% 55%
	background-size: 140%
	color: white

	nav
		background: rgba(0, 0, 0, .3)
		padding: rem(10px) 0
		color: white
		font-size: .9em

		div.container 
			display: flex
			align-items: center


		.toogle-btn 
			display: none

		ul 
			display: flex
			align-items: center


		a.header-menu-item 
			margin: 0 1.5em


		a.header-menu-item:after 
			content: ''
			display: block
			width: 100%
			height: 1px
			background: white
			transform: scaleX(0)
			transition: all .2s


		a.header-menu-item:hover:after 
			transition: all .2s
			transform: scaleX(1)


		li 
			list-style: none


		a.header-menu-item:first-child 
			margin-left: 0


		a.logo 
			margin-right: auto
			font-size: 1.1em
			font-weight: bold



	div.slogan 
		text-align: center
		margin-top: 35vh


		h1 
			margin-bottom: .5em
			text-shadow: 0px 0px 2px black
			font-family: serif


		p 
			margin-bottom: 1.5em
			font-size: .8em


		button:hover 
			background: white
			color: black
			border-color: white
			text-shadow: none

+l 	
		/*HEADER*/

	header.page-header 
		background-size: cover

		ul.header-menu 
			display: none
		

		nav
	

		div.toogle-btn 
			display: flex
			flex-direction: column
			width: 35px
			justify-content: space-between
			height: 20px
			cursor: pointer
			margin-left: auto
			z-index: 999999
			transition: all .3s
			background: transparent
	

		div.toogle-btn.active 
			transition: all .4s
		

		div.toogle-btn.active div:first-child 
			width: 50%
			transform: rotate(45deg) translate(3px)
	

		div.toogle-btn.active div:nth-child(2n) 
			transform: rotate(-45deg)
		

		div.toogle-btn.active div:last-child 
			width: 50%
			transform: translate(15px, -3px) rotate(45deg)
		

		div.toogle-btn:hover div 
			filter: drop-shadow(0px 0px 10px rgba(103, 58, 183, 1))
			background-color: white
			transition: all .4s
	

		div.toogle-btn div 
			transition: all .3s
			width: 100%
			height: 2px
			background: white
	

		+keyframes(menu_appear)
			from 
				transform: translateY(-100%)
			to 
				transform: translateY(0)
			
	

		ul.header-menu.mobile-active 
			display: flex
			flex-direction: column
			position: absolute
			top: 0
			right: 0
			width: 100%
			background: rgba(0, 0, 0, .8)
			font-size: 1.2em
			justify-content: center
			animation: menu_appear .4s
			padding: .5em 0
	

		ul.header-menu a.nav-logo 
			font-size: 2.4em
			display: none
		

		ul.header-menu.mobile-active li 
			margin: .6em 0
		

		ul.header-menu.mobile-active * 
			margin: 0
		



