* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s; }

html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  font-family: "Arial", sans-serif;
  font-size: 1em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Arial", sans-serif; }

a {
  outline: none;
  text-decoration: none;
  color: inherit; }

li {
  list-style: none; }

a:hover {
  cursor: pointer; }

div.container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto; }

h3.heading {
  font-weight: normal; }

.header {
  height: 20vh;
  background: #fff;
  display: flex;
  align-items: center;
  text-align: center; }

.head {
  z-index: 1;
  position: relative;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  background: url(../img/doc.jpg) 0 0 no-repeat fixed;
  background-size: cover;
  height: 80vh;
  display: flex;
  align-items: center;
  text-align: center; }
  .head::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 80vh;
    background: #000;
    opacity: 0.5;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0; }

.logo_link {
  background: #fff;
  font-size: 2rem; }

.head_hg {
  font-size: 3.125rem;
  margin: 0 auto 2.5rem;
  width: 70%; }

.head_txt {
  font-size: 1.375rem;
  margin-bottom: 3.75rem; }

.head_link {
  z-index: 1;
  position: relative;
  color: #000;
  background: yellow;
  padding: 20px 60px;
  border-radius: 30px; }
  .head_link:active {
    background-color: yellow;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 100, 0.5); }

.link_ping {
  z-index: -1;
  position: absolute;
  top: -17.5px;
  left: -21px;
  background: yellow;
  display: inline-block;
  border-radius: 30px;
  height: 90px;
  width: 115%; }

.ping {
  animation: ping 0.8s ease-in-out infinite both; }

@-webkit-keyframes ping {
  0% {
    transform: scale(0.2);
    opacity: 0.8; }
  80% {
    transform: scale(1.2);
    opacity: 0; }
  100% {
    transform: scale(2.2);
    opacity: 0; } }
@-moz-keyframes ping {
  0% {
    transform: scale(0.2);
    opacity: 0.8; }
  80% {
    transform: scale(1.2);
    opacity: 0; }
  100% {
    transform: scale(2.2);
    opacity: 0; } }
@-ms-keyframes ping {
  0% {
    transform: scale(0.2);
    opacity: 0.8; }
  80% {
    transform: scale(1.2);
    opacity: 0; }
  100% {
    transform: scale(2.2);
    opacity: 0; } }
@keyframes ping {
  0% {
    transform: scale(0.2);
    opacity: 0.8; }
  80% {
    transform: scale(1.2);
    opacity: 0; }
  100% {
    transform: scale(2.2);
    opacity: 0; } }
.slides {
  padding: 70px 4%; }

.slide_block {
  display: flex;
  justify-content: space-between; }

.slide_item {
  transition: 0.5s;
  border-radius: 9px;
  border: 1px solid yellow;
  border-top: 10px solid yellow;
  padding: 20px;
  width: 23%;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.75); }
  .slide_item:hover {
    transform: translateY(2px);
    box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.75); }

.slide_hg {
  text-transform: uppercase;
  margin: 20px 0; }

.slide_img {
  width: 40%;
  height: 40%; }

.border {
  padding: 3px 0 3px 0;
  width: 10%;
  background: linear-gradient(120deg, yellow 50%, #6cdefd 50%);
  margin: 0 auto 30px auto; }

.heading {
  background: #fff;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px; }

.btn_block {
  padding: 70px 4%;
  display: flex;
  justify-content: space-between; }

.left_side {
  width: 20%; }

.right_side {
  width: 80%; }

.right_slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; }

.right_txt {
  width: 48%; }

.right_img {
  width: 48%;
  height: 200px;
  object-fit: cover; }

.left_side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; }
  .left_side:before {
    content: "";
    height: 100%;
    width: 2px;
    background: #ccc;
    position: absolute;
    top: 0;
    right: 10%;
    z-index: -1; }

.left_btn {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.disnone {
  display: none; }

.btn_link {
  display: inline-block;
  box-sizing: content-box;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  border: 5px solid yellow; }

.colored {
  border-color: red; }

.feedback {
  z-index: 1;
  position: relative;
  padding: 70px 5%;
  background: url(../img/pic4.jpg) 0 0 no-repeat fixed;
  background-size: cover; }
  .feedback::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }

.feedback__heading {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin-bottom: 30px; }

.feedback__txt {
  color: #fff;
  text-align: center;
  font-size: 1.125rem;
  margin-bottom: 30px; }

.form__box {
  text-align: center; }

.form__row {
  position: relative; }

.user {
  border-radius: 9px;
  border: solid 2px yellow;
  color: #000;
  width: 70%;
  padding: 12px;
  margin-bottom: 10px;
  outline: none; }

.user__label {
  position: absolute;
  top: 15px;
  left: 25%;
  transform: translateX(-70%); }

.form__submit {
  display: block;
  font-weight: bold;
  margin: 0 auto;
  text-transform: uppercase;
  border: none;
  padding: 20px 40px;
  border-radius: 30px;
  background: yellow;
  outline: none; }
  .form__submit:active {
    background-color: yellow;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 100, 0.5); }

.textarea {
  width: 70%;
  margin-bottom: 20px;
  padding: 12px;
  color: #000;
  outline: none;
  border-radius: 9px;
  border: solid 2px yellow; }

/*# sourceMappingURL=main.css.map */
