* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  font-family: "Arial", sans-serif;
  font-size: 1em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Arial", sans-serif; }

a {
  outline: none;
  text-decoration: none;
  color: inherit; }

a:hover {
  cursor: pointer; }

div.container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto; }

button.btn {
  cursor: pointer;
  font-weight: bold; }

span.accent {
  color: #009688; }

h2.section-heading {
  font-family: serif;
  text-align: center;
  margin-bottom: 0.5em; }

p.section-subheading {
  font-family: "Arial";
  text-align: center;
  margin-bottom: 6em; }

section {
  padding: 4em 0; }

.header {
  height: 20vh;
  background: #fff;
  display: flex;
  align-items: center;
  text-align: center; }

.head {
  z-index: 1;
  position: relative;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  background: url(../img/doc.jpg) 0 0 no-repeat;
  background-size: cover;
  height: 80vh;
  display: flex;
  align-items: center;
  text-align: center; }
  .head::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 80vh;
    background: #000;
    opacity: 0.5;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0; }

.logo_link {
  background: #fff;
  font-size: 2rem; }

.border.wd {
  width: 16%; }

.head_hg {
  font-size: 3.125rem;
  margin: 0 auto 2.5rem;
  width: 70%; }

.head_txt {
  font-size: 1.375rem;
  margin-bottom: 3.75rem; }

.head_link {
  z-index: 1;
  position: relative;
  color: #000;
  background: #02b3e4;
  padding: 20px 60px;
  border-radius: 30px; }
  .head_link:active {
    background-color: #02b3e4;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 100, 0.5); }

.link_ping {
  z-index: -1;
  position: absolute;
  top: -17.5px;
  left: -21px;
  background: #02b3e4;
  display: inline-block;
  border-radius: 30px;
  height: 90px;
  width: 115%; }

.ping {
  animation: ping 0.8s ease-in-out infinite both; }

@-webkit-keyframes ping {
  0% {
    transform: scale(0.2);
    opacity: 0.8; }
  80% {
    transform: scale(1.2);
    opacity: 0; }
  100% {
    transform: scale(2.2);
    opacity: 0; } }
@-moz-keyframes ping {
  0% {
    transform: scale(0.2);
    opacity: 0.8; }
  80% {
    transform: scale(1.2);
    opacity: 0; }
  100% {
    transform: scale(2.2);
    opacity: 0; } }
@-ms-keyframes ping {
  0% {
    transform: scale(0.2);
    opacity: 0.8; }
  80% {
    transform: scale(1.2);
    opacity: 0; }
  100% {
    transform: scale(2.2);
    opacity: 0; } }
@keyframes ping {
  0% {
    transform: scale(0.2);
    opacity: 0.8; }
  80% {
    transform: scale(1.2);
    opacity: 0; }
  100% {
    transform: scale(2.2);
    opacity: 0; } }
.slides {
  padding: 70px 4%; }

.slide_block {
  display: flex;
  justify-content: space-between; }

.slide_item {
  transition: 0.5s;
  border-radius: 9px;
  border: 1px solid #02b3e4;
  border-top: 10px solid #02b3e4;
  padding: 20px;
  width: 23%;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 1px 20px 0px rgba(50, 50, 50, 0.75); }
  .slide_item:hover {
    transform: translateY(2px);
    box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.75); }

.slide_hg {
  text-transform: uppercase;
  margin: 20px 0; }

.border {
  padding: 3px 0 3px 0;
  width: 10%;
  background: linear-gradient(120deg, #02b3e4 50%, #6cdefd 50%);
  margin: 0 auto 30px auto; }

.heading {
  background: #fff;
  padding: 5px;
  text-align: center;
  text-transform: uppercase; }

/*# sourceMappingURL=main.css.map */
