.footer
	padding: 50px 4%
.footer_hg
	margin-bottom: 20px
.footer_txt
	margin-bottom: 10px
.footer_block
	display: flex
	justify-content: space-between
	align-items: center
.footer_item
	text-align: center
	width: 30%
.item_link
	font-size: rem(32px)
.tal
	text-align: left
.item_img
	width: 50%
	height: 50%
	object-fit: cover