.header
	height: 100vh
	background: #fff
	display: flex
	align-items: center
	text-align: left
	overflow: hidden
.tape
	width: 70px
	height: 100%
	background: linear-gradient(45deg, black 0, black 11%, yellow 11%, yellow 21%, black 21%, black 31%, yellow 31%, yellow 41%, black 41%, black 51%, yellow 51%, yellow 61%, black 61%, black 71%, yellow 71%, yellow 81%, black 81%, black 91%, yellow 91%, yellow 100%)
	position: fixed
	top: 0
	right: 0
	box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.75)
	transition: none
	z-index: 5
.right
	position: fixed
	top: 0
	right: 140px
.triangle
	width: 0
	height: 0
	border-style: solid
	border-width: 50px 50px 50px 0
	border-color: transparent #000000 transparent transparent
	position: absolute
	top: 50%
	right: 70px
	transform: translateY(-50%)
	cursor: pointer
.logo
	margin-bottom: rem(100px)
.logo_link
	font-size: rem(32px)
.head_hg
	font-size: rem(50px)
	margin-bottom: rem(40px)
	width: 70%
.head_txt
	font-size: rem(22px)
	margin-bottom: rem(60px)
.head_link
	z-index: 1
	position: relative
	color: #000
	background: yellow
	padding: 20px 60px
	border-radius: 30px
	&:active
		background-color: yellow
		box-shadow: 0 1px 1px rgba(255,255,255,.5), inset 0 2px 5px rgba(0,0,100,.5)
.link_ping
	z-index: -1
	position: absolute
	top: -17.5px
	left: -21px
	background: yellow
	display: inline-block
	border-radius: 30px
	height: 90px
	width: 115%
.ping
	animation: ping 0.8s ease-in-out infinite both
+keyframes(ping) 
	0% 
		transform: scale(0.2)
		opacity: 0.8
	80% 
		transform: scale(1.2)
		opacity: 0
	100% 
		transform: scale(2.2)
		opacity: 0
.tape_menu
	display: none
	width: 140px
	height: 100%
	background: #000
	position: absolute
	top: 0
	right: 0
	position: fixed
.tape_bar
	height: 100%
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
.tape_list
	padding: 30px 0
.tape_link
	color: #fff
.open
	display: inline-block