.header
	min-height: 100vh
	background: #fff
	display: flex
	align-items: center
	text-align: left
	overflow: hidden
	background: url(../img/header.jpg) 0 0 no-repeat
	background-size: cover
.tape
	width: 70px
	height: 100%
	background: #FDD835 
	position: fixed
	top: 0
	right: 0
	box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.75)
	transition: all .2s
	z-index: 9
	+m
		width: 100%
		height: 50px
.right
	position: fixed
	top: 0
	right: 140px
	+m
		top: 340px
		right: 0
.triangle
	width: 0
	height: 0
	border-style: solid
	border-width: 50px 50px 50px 0
	border-color: transparent #FDD835 transparent transparent
	position: absolute
	top: 50%
	right: 70px
	transform: translateY(-50%)
	cursor: pointer
	+m
		top: 50px
		left: 50%
		transform: translate(-50%, -25%) rotate(-90deg)
.logo
	margin-bottom: rem(100px)
	+m
		margin-top: rem(100px)
		margin-bottom: rem(50px)
.logo_link
	font-size: rem(32px)
.logo_img
	width: 20%
	height: 20%
	object-fit: cover
	+s
		width: 40%
		height: 40%
.head_hg
	color: #fff
	font-size: rem(50px)
	margin-bottom: rem(40px)
	width: 70%
	+m
		font-size: rem(40px)
	+s
		font-size: rem(32px)
		width: 100%
.head_txt
	color: #fff
	font-size: rem(22px)
	margin-bottom: rem(60px)
	+s
		font-size: rem(18px)
.head_link
	z-index: 1
	position: relative
	color: #000
	background: #FDD835
	padding: 20px 60px
	border-radius: 30px
	&:active
		background-color: #FDD835
		box-shadow: 0 1px 1px rgba(255,255,255,.5), inset 0 2px 5px rgba(0,0,100,.5)
	@media screen and (max-width: 280px)
		display: inline-block
		padding: 20px 0
		width: 100%
		text-align: center
.link_ping
	z-index: -1
	position: absolute
	top: -17.5px
	left: -21px
	background: #FDD835
	display: inline-block
	border-radius: 30px
	height: 90px
	width: 115%
.ping
	animation: ping 0.8s ease-in-out infinite both
+keyframes(ping) 
	0% 
		transform: scale(0.2)
		opacity: 0.8
	80% 
		transform: scale(1.2)
		opacity: 0
	100% 
		transform: scale(2.2)
		opacity: 0
.tape_menu
	height: 100%
	background: #000
	position: absolute
	top: 0
	right: 0
	position: fixed
	z-index: 5
	+m
		background: #000
		width: 100%
		height: 0
.tape_bar
	width: 0
	font-size: 0
	height: 100%
	display: flex
	flex-direction: column
	justify-content: center
	transition: all .2s
	+m
		width: 100%
		align-items: center
		height: 0
.tape_list
	padding: 30px 0 30px 20px
	+m
		padding: 15px 0
.tape_link
	color: #fff
.open
	width: 140px
	font-size: rem(16px)
	+m
		background: #000
		width: 100%
		height: 340px
.tape_txt
	font-size: rem(42px)
	transform: rotate(90deg) translate(-20%, 80%)
	position: absolute
	top: 50%
	left: 0
	padding: 10px 30px
	font-weight: bold
	color: #000
	+m
		transform: rotate(0) translate(-50%, -50%)
		left: 50%
		display: none
