.info
	background: #fff
	padding: 70px 4%
	display: flex
	justify-content: space-between
	align-items: center
	+m
		flex-wrap: wrap
.info_pic
	width: 48%
	+m
		width: 100%
		margin-bottom: 50px
.info_img
	width: 90%
	height: 90%
	object-fit: cover
	border: 1px solid #FDD835 
	border-top: 10px solid #FDD835 
	border-radius: 9px
.info_block
	width: 48%
	background: #fff
	+m
		width: 100%
.info_hg
	margin-bottom: 30px
.info_txt
	line-height: 1.8
.info_head
	text-align: center