.slides
	background: #fff
	padding: 0 4% 70px 4%
.slide_block
	display: flex
	justify-content: space-between
	+l
		flex-wrap: wrap
.slide_item
	padding: 20px
	width: 23%
	text-align: center
	+l
		width: 48%
		margin-bottom: 30px
.slide_hg
	text-transform: uppercase
	margin: 20px 0
.slide_img
	width: 40%
	height: 40%
.slide_head
	background: #fff
	padding: 5px
	margin-bottom: 30px



