.types
	padding: 0 4%
	background: #fff
.types_block
	display: flex
	justify-content: space-between
	padding-bottom: 410px
	border-bottom: 2px solid yellow
	position: relative
.types_item
	background: #fff
	position: relative
	transition: .5s
	border-radius: 9px
	border: 1px solid yellow
	border-top: 10px solid yellow
	padding: 20px
	width: 23%
	text-align: center
	cursor: pointer
	box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.75)
	&:hover
		transform: translateY(2px)
		box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.75)
	&:hover .price_item
		transform: translateY(55%)
.types_img
	width: 60%
	height: 60%
.types_txt
	margin-top: 30px
.types_hg
	margin-bottom: 50px
.price
	margin-top: 40px
	display: flex
	justify-content: space-between
.price_item
	transform: translateY(40%)
	background: #fff
	position: absolute
	top: 0
	left: 0
	border-radius: 9px
	width: 100%
	padding: 50px 50px 70px 50px
	border: 1px solid yellow
	text-align: center
	box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.75)
.price_hg
	font-size: rem(42px)
.price_txt
	padding: 15px
	text-transform: uppercase
	border-bottom: 1px solid #000
.flex_txt
	display: flex
	flex-direction: column
	align-items: center
.bbn
	border-bottom: none
	margin-bottom: 30px
.price_link
	padding: 15px
	background: yellow
	border-radius: 9px
	&:active
		background-color: yellow
		box-shadow: 0 1px 1px rgba(255,255,255,.5), inset 0 2px 5px rgba(0,0,100,.5)
.click
	position: absolute
	bottom: 0
	left: 50%
	transform: translateX(-50%)
	margin-bottom: 10px