* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s; }

html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth; }

body {
  font-family: "Arial", sans-serif;
  font-size: 1em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Arial", sans-serif; }

a {
  outline: none;
  text-decoration: none;
  color: inherit; }

li {
  list-style: none; }

a:hover {
  cursor: pointer; }

div.wrapper {
  overflow-x: hidden; }

h2.heading {
  text-align: center; }

div.container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto; }

h3.heading {
  font-weight: normal; }

.header {
  min-height: 100vh;
  background: #fff;
  display: flex;
  align-items: center;
  text-align: left;
  overflow: hidden;
  background: url(../img/header.jpg) 0 0 no-repeat;
  background-size: cover; }

.tape {
  width: 70px;
  height: 100%;
  background: #FDD835;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.75);
  transition: all 0.2s;
  z-index: 9; }
  @media screen and (max-width: 768px) {
    .tape {
      width: 0; } }

.right {
  position: fixed;
  top: 0;
  right: 140px; }
  @media screen and (max-width: 768px) {
    .right {
      top: 340px;
      right: 0; } }

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 50px 0;
  border-color: transparent #FDD835 transparent transparent;
  position: absolute;
  top: 50%;
  right: 70px;
  transform: translateY(-50%);
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .triangle {
      border-color: transparent transparent transparent transparent; } }

.logo {
  margin-bottom: 0; }

.logo_link {
  font-size: 2rem; }

.logo_img {
  width: 18%;
  object-fit: cover; }
  @media screen and (max-width: 480px) {
    .logo_img {
      width: 40%;
      height: 40%; } }

.head_hg {
  color: #fff;
  font-size: 3.125rem;
  margin-bottom: 2.5rem;
  width: 70%;
  margin-top: 3.125rem; }
  @media screen and (max-width: 768px) {
    .head_hg {
      font-size: 2.5rem; } }
  @media screen and (max-width: 480px) {
    .head_hg {
      font-size: 2rem;
      width: 100%; } }

.head_txt {
  color: #fff;
  font-size: 1.375rem;
  margin-bottom: 3.75rem; }
  @media screen and (max-width: 480px) {
    .head_txt {
      font-size: 1.125rem; } }

.head_link {
  z-index: 1;
  position: relative;
  color: #000;
  background: #FDD835;
  padding: 20px 60px;
  border-radius: 30px; }
  .head_link:active {
    background-color: #FDD835;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 100, 0.5); }
  @media screen and (max-width: 280px) {
    .head_link {
      display: inline-block;
      padding: 20px 0;
      width: 100%;
      text-align: center; } }

.link_ping {
  z-index: -1;
  position: absolute;
  top: -17.5px;
  left: -21px;
  background: #FDD835;
  display: inline-block;
  border-radius: 30px;
  height: 90px;
  width: 115%; }

.ping {
  animation: ping 0.8s ease-in-out infinite both; }

@-webkit-keyframes ping {
  0% {
    transform: scale(0.2);
    opacity: 0.8; }
  80% {
    transform: scale(1.2);
    opacity: 0; }
  100% {
    transform: scale(2.2);
    opacity: 0; } }
@-moz-keyframes ping {
  0% {
    transform: scale(0.2);
    opacity: 0.8; }
  80% {
    transform: scale(1.2);
    opacity: 0; }
  100% {
    transform: scale(2.2);
    opacity: 0; } }
@-ms-keyframes ping {
  0% {
    transform: scale(0.2);
    opacity: 0.8; }
  80% {
    transform: scale(1.2);
    opacity: 0; }
  100% {
    transform: scale(2.2);
    opacity: 0; } }
@keyframes ping {
  0% {
    transform: scale(0.2);
    opacity: 0.8; }
  80% {
    transform: scale(1.2);
    opacity: 0; }
  100% {
    transform: scale(2.2);
    opacity: 0; } }
.tape_menu {
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
  position: fixed;
  transition: none;
  z-index: 5; }
  @media screen and (max-width: 768px) {
    .tape_menu {
      background: rgba(0, 0, 0, 0.7); } }

.tape_bar {
  width: 0;
  font-size: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.2s; }

.activeb {
  width: 200px !important;
  padding-left: 30px; }

.tape_list {
  padding: 30px 0 30px 20px;
  transition: none; }
  @media screen and (max-width: 768px) {
    .tape_list {
      padding: 15px 0; } }

.tape_link {
  color: #fff; }

.open {
  width: 140px;
  font-size: 1rem; }
  @media screen and (max-width: 768px) {
    .open {
      background: #000;
      width: 100%;
      height: 340px; } }

.tape_txt {
  font-size: 2.625rem;
  transform: rotate(90deg) translate(-20%, 80%);
  position: absolute;
  top: 50%;
  left: 0;
  padding: 10px 30px;
  font-weight: bold;
  color: #000; }
  @media screen and (max-width: 768px) {
    .tape_txt {
      transform: rotate(0) translate(-50%, -50%);
      left: 50%;
      display: none; } }

.tape:hover .tape_bar {
  width: 140px;
  font-size: 1rem; }

.tape:hover {
  right: 140px; }

@media screen and (max-width: 768px) {
  .hamburger {
    position: absolute;
    top: 15%;
    right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: transparent;
    width: 50px;
    height: 50px;
    padding: 6px 10px;
    cursor: pointer;
    z-index: 999;
    border-radius: 9px;
    box-shadow: 3px 3px 15px 0px rgba(50, 50, 50, 0.4); }

  .hamburger__line {
    background: #fff;
    width: 100%;
    height: 2px;
    transition: 0.1s; }

  .active .hamburger__line {
    background-color: white; }
    .active .hamburger__line:nth-child(1) {
      transform-origin: 0 100%;
      transform: rotate(45deg) translate(4px, -3px); }
    .active .hamburger__line:nth-child(2) {
      opacity: 0; }
    .active .hamburger__line:nth-child(3) {
      transform-origin: 0% 100%;
      transform: rotate(-45deg) translate(6px, 3px); } }
.hamburger.active {
  box-shadow: none;
  background: transparent !important;
  position: fixed; }

.digits {
  height: 25vh;
  text-align: center; }

#clockd {
  width: 370px;
  padding: 40px;
  margin: 200px auto 60px;
  position: relative; }

#clock:after {
  content: "";
  position: absolute;
  width: 400px;
  height: 20px;
  border-radius: 100%;
  left: 50%;
  margin-left: -200px;
  bottom: 2px;
  z-index: -1; }

#clock .display {
  text-align: center;
  padding: 40px 20px 20px;
  border-radius: 6px;
  position: relative;
  height: 20vh; }

#clock.dark {
  background-color: #272e38;
  color: #cacaca; }

#clock.dark:after {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); }

#clock.dark .digits div span {
  background-color: #cacaca;
  border-color: #cacaca; }

#clock.dark .alarm {
  background: url("../img/alarm_dark.jpg"); }

#clock.dark .display {
  width: 50%;
  background-color: #0f1620;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08) inset, 0 1px 1px #2d3642; }

#clock.dark .digits div.dots:before,
#clock.dark .digits div.dots:after {
  background-color: #cacaca; }

#clock .digits div {
  text-align: left;
  position: relative;
  width: 28px;
  height: 50px;
  display: inline-block;
  margin: 0 4px; }

#clock .digits div span {
  opacity: 0;
  position: absolute;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  transition: 0.25s; }

#clock .digits div span:before,
#clock .digits div span:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent; }

#clock .digits .d1 {
  height: 5px;
  width: 16px;
  top: 0;
  left: 6px; }

#clock .digits .d1:before {
  border-width: 0 5px 5px 0;
  border-right-color: inherit;
  left: -5px; }

#clock .digits .d1:after {
  border-width: 0 0 5px 5px;
  border-left-color: inherit;
  right: -5px; }

#clock .digits .d2 {
  height: 5px;
  width: 16px;
  top: 24px;
  left: 6px; }

#clock .digits .d2:before {
  border-width: 3px 4px 2px;
  border-right-color: inherit;
  left: -8px; }

#clock .digits .d2:after {
  border-width: 3px 4px 2px;
  border-left-color: inherit;
  right: -8px; }

#clock .digits .d3 {
  height: 5px;
  width: 16px;
  top: 48px;
  left: 6px; }

#clock .digits .d3:before {
  border-width: 5px 5px 0 0;
  border-right-color: inherit;
  left: -5px; }

#clock .digits .d3:after {
  border-width: 5px 0 0 5px;
  border-left-color: inherit;
  right: -5px; }

#clock .digits .d4 {
  width: 5px;
  height: 14px;
  top: 7px;
  left: 0; }

#clock .digits .d4:before {
  border-width: 0 5px 5px 0;
  border-bottom-color: inherit;
  top: -5px; }

#clock .digits .d4:after {
  border-width: 0 0 5px 5px;
  border-left-color: inherit;
  bottom: -5px; }

#clock .digits .d5 {
  width: 5px;
  height: 14px;
  top: 7px;
  right: 0; }

#clock .digits .d5:before {
  border-width: 0 0 5px 5px;
  border-bottom-color: inherit;
  top: -5px; }

#clock .digits .d5:after {
  border-width: 5px 0 0 5px;
  border-top-color: inherit;
  bottom: -5px; }

#clock .digits .d6 {
  width: 5px;
  height: 14px;
  top: 32px;
  left: 0; }

#clock .digits .d6:before {
  border-width: 0 5px 5px 0;
  border-bottom-color: inherit;
  top: -5px; }

#clock .digits .d6:after {
  border-width: 0 0 5px 5px;
  border-left-color: inherit;
  bottom: -5px; }

#clock .digits .d7 {
  width: 5px;
  height: 14px;
  top: 32px;
  right: 0; }

#clock .digits .d7:before {
  border-width: 0 0 5px 5px;
  border-bottom-color: inherit;
  top: -5px; }

#clock .digits .d7:after {
  border-width: 5px 0 0 5px;
  border-top-color: inherit;
  bottom: -5px; }

/* 1 */
#clock .digits div.one .d5,
#clock .digits div.one .d7 {
  opacity: 1; }

/* 2 */
#clock .digits div.two .d1,
#clock .digits div.two .d5,
#clock .digits div.two .d2,
#clock .digits div.two .d6,
#clock .digits div.two .d3 {
  opacity: 1; }

/* 3 */
#clock .digits div.three .d1,
#clock .digits div.three .d5,
#clock .digits div.three .d2,
#clock .digits div.three .d7,
#clock .digits div.three .d3 {
  opacity: 1; }

/* 4 */
#clock .digits div.four .d5,
#clock .digits div.four .d2,
#clock .digits div.four .d4,
#clock .digits div.four .d7 {
  opacity: 1; }

/* 5 */
#clock .digits div.five .d1,
#clock .digits div.five .d2,
#clock .digits div.five .d4,
#clock .digits div.five .d3,
#clock .digits div.five .d7 {
  opacity: 1; }

/* 6 */
#clock .digits div.six .d1,
#clock .digits div.six .d2,
#clock .digits div.six .d4,
#clock .digits div.six .d3,
#clock .digits div.six .d6,
#clock .digits div.six .d7 {
  opacity: 1; }

/* 7 */
#clock .digits div.seven .d1,
#clock .digits div.seven .d5,
#clock .digits div.seven .d7 {
  opacity: 1; }

/* 8 */
#clock .digits div.eight .d1,
#clock .digits div.eight .d2,
#clock .digits div.eight .d3,
#clock .digits div.eight .d4,
#clock .digits div.eight .d5,
#clock .digits div.eight .d6,
#clock .digits div.eight .d7 {
  opacity: 1; }

/* 9 */
#clock .digits div.nine .d1,
#clock .digits div.nine .d2,
#clock .digits div.nine .d3,
#clock .digits div.nine .d4,
#clock .digits div.nine .d5,
#clock .digits div.nine .d7 {
  opacity: 1; }

/* 0 */
#clock .digits div.zero .d1,
#clock .digits div.zero .d3,
#clock .digits div.zero .d4,
#clock .digits div.zero .d5,
#clock .digits div.zero .d6,
#clock .digits div.zero .d7 {
  opacity: 1; }

/* The dots */
#clock .digits div.dots {
  width: 5px; }

#clock .digits div.dots:before {
  width: 5px;
  height: 5px;
  content: "";
  position: absolute;
  left: 0;
  top: 14px; }

#clock .digits div.dots:after {
  width: 5px;
  height: 5px;
  content: "";
  position: absolute;
  left: 0;
  top: 14px; }

#clock .digits div.dots:after {
  top: 34px; }

#clock .alarm {
  width: 16px;
  height: 16px;
  bottom: 20px;
  background: url("../img/alarm_light.jpg");
  position: absolute;
  opacity: 0.2; }

#clock .alarm.active {
  opacity: 1; }

#clock .weekdays {
  font-size: 12px;
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
  text-align: center; }

#clock .weekdays span {
  opacity: 0.2;
  padding: 0 10px; }

#clock .weekdays span.active {
  opacity: 1; }

#clock .ampm {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 12px; }

#clock.dark {
  background-color: #fff;
  color: #cacaca; }

#clock.dark:after {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); }

#clock.dark .digits div span {
  background-color: #cacaca;
  border-color: #cacaca; }

#clock.dark .alarm {
  background: url("../img/alarm_dark.jpg"); }

#clock.dark .display {
  border: 10px solid #ccc;
  margin: 70px auto 0 auto;
  background-color: #3C3C42;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08) inset, 0 1px 1px #2d3642; }

#clock.dark .digits div.dots:before,
#clock.dark .digits div.dots:after {
  background-color: #cacaca; }

.info {
  background: #fff;
  padding: 70px 4%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .info {
      flex-wrap: wrap; } }

.info_pic {
  width: 48%; }
  @media screen and (max-width: 768px) {
    .info_pic {
      width: 100%;
      margin-bottom: 50px; } }

.info_img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  border: 1px solid #FDD835;
  border-top: 10px solid #FDD835;
  border-radius: 9px; }

.info_block {
  width: 48%;
  background: #fff; }
  @media screen and (max-width: 768px) {
    .info_block {
      width: 100%; } }

.info_hg {
  margin-bottom: 30px; }

.info_txt {
  line-height: 1.8; }

.info_head {
  text-align: center; }

.slides {
  background: #fff;
  padding: 0 4% 70px 4%; }

.slide_block {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 992px) {
    .slide_block {
      flex-wrap: wrap; } }

.slide_item {
  padding: 20px;
  width: 23%;
  text-align: center; }
  @media screen and (max-width: 992px) {
    .slide_item {
      width: 48%;
      margin-bottom: 30px; } }
  @media screen and (max-width: 480px) {
    .slide_item {
      width: 100%; } }

.slide_hg {
  text-transform: uppercase;
  margin: 20px 0; }

.slide_img {
  width: 40%;
  height: 40%; }

.slide_head {
  text-align: center;
  padding: 5px;
  margin-bottom: 30px; }

.map {
  padding: 10px 70px 10px 0;
  background: #FDD835; }
  @media screen and (max-width: 768px) {
    .map {
      padding-right: 0; } }

.map_item {
  width: 100%;
  filter: grayscale(100%); }

.feed_sub {
  border: none;
  padding: 20px 60px;
  background: #FDD835;
  outline: none;
  cursor: pointer;
  border-radius: 30px;
  font-size: 1.125rem; }
  .feed_sub:active {
    background-color: #FDD835;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 100, 0.5); }

footer {
  background-color: #F9F9F9;
  color: #838383;
  position: relative; }
  footer div.footer-columns {
    padding: 5rem 0;
    display: flex;
    justify-content: space-around; }
    @media screen and (max-width: 768px) {
      footer div.footer-columns {
        flex-wrap: wrap; } }
    @media screen and (max-width: 768px) {
      footer div.footer-columns .col {
        flex: 1 1 100%;
        margin-bottom: 2.8125rem;
        text-align: center; }
        footer div.footer-columns .col:last-child {
          margin-bottom: 0; } }
    footer div.footer-columns .col h3 {
      color: #707070;
      margin-bottom: 2.5rem; }
      @media screen and (max-width: 768px) {
        footer div.footer-columns .col h3 {
          margin-bottom: 1.25rem; } }
    footer div.footer-columns .col ul li {
      margin: 0.9375rem 0;
      margin-left: 0.625rem;
      text-transform: lowercase; }
    footer div.footer-columns .col-3 li img {
      width: 20px;
      vertical-align: -4px;
      margin-right: 0.625rem; }
  footer div.citrus {
    display: flex;
    background-color: white;
    color: #6F6F6F;
    padding: 0.9375rem;
    justify-content: center;
    align-items: center; }
    footer div.citrus p {
      margin-right: 1.25rem; }
    footer div.citrus div.citrus-logo {
      display: flex;
      align-items: center; }
      footer div.citrus div.citrus-logo img {
        width: 35px;
        height: 35px;
        margin-right: 0.3125rem; }

/*# sourceMappingURL=main.css.map */
